@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
